{% extends 'base-avanzu.html.twig' %}

 
{% block page_title %}Member {% endblock %}
  {% block page_subtitle %}  {% endblock %}
{% block page_content %}
  
<div class="row">  
<div class="col-md-12">


    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Member</h3>
              {{ include('member/_delete_form.html.twig') }}
              <a class="btn btn-success pull-right" href="{{ path('member_edit', {'id': member.id}) }}"><i class="fa fa-edit"></i></a>&nbsp;
              
            </div>
  

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ member.username }}</td>
            </tr>
            <tr>
                <th>EmailAddress</th>
                <td>{{ member.emailAddress }}</td>
            </tr>
            <tr>
                <th>LastLogin</th>
                <td>{{ member.lastLogin ? member.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    </div><!-- box -->
    </div><!-- col-md-12 -->

    </div><!-- row -->
    <a href="{{ path('member_index') }}"><i class="fa fa-arrow-left">Back to list</i></a>

    
{% endblock %}
