{% extends 'base-avanzu.html.twig' %}

 
{% block page_title %} Landing {% endblock %}
 {% block page_subtitle %} {% endblock %}
{% block page_content %}
   
<div class="row">  
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Lending List</h3>
              <a href="{{ path('lending_new') }}" class="btn btn-success   pull-right">Create new</a>

            </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Member</th>
                <th>CollectedAt</th>
                <th>ReturnedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lending in lendings %}
            <tr>
                <td>{{ lending.id }}</td>
                <td>{{ lending.member }}</td>
                <td>{{ lending.collectedAt ? lending.collectedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lending.returnedAt ? lending.returnedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('lending_show', {'id': lending.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('lending_edit', {'id': lending.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     </div><!-- box -->
    </div><!-- col-md-12 -->
    </div><!-- row -->
    
{% endblock %}
