{% extends 'base-avanzu.html.twig' %}

 
{% block page_title %} Book {% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">  
<div class="col-md-12">


    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Book Detail</h3>
               {{ include('book/_delete_form.html.twig') }}
              <a class="btn btn-success pull-right" href="{{ path('book_edit', {'id': book.id}) }}"><i class="fa fa-edit"></i></a>&nbsp;
              
            </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.authors | join }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ book.number }}</td>
            </tr>
        </tbody>
    </table>

   

    

   

    </div><!-- box -->
    </div><!-- col-md-12 -->

    </div><!-- row -->
    <a href="{{ path('book_index') }}"><i class="fa fa-arrow-left">Back to list</i></a>
{% endblock %}
